---
- hosts: all
  become: yes

  tasks:
    - name: Add a user with access to sudo
       user:
         name: oracle
         password: "{{ 'oracle' | password\_hash('sha512') }}"
         comment: Oracle User
       groups: wheel
       append: yes
       update\_password: on\_create

- name: Set authorized key for user oracle copying it from current user
    authorized_key:
      user: oracle
      state: present
      key: "{{ lookup('file', lookup('env','HOME') + '/.ssh/id\_rsa.pub') }}"